.checkbox {
padding-left: 20px; }
.checkbox label {
display: inline-block;
position: relative;
padding-left: 5px; }
.checkbox label::before {
content: "";
display: inline-block;
position: absolute;
width: 17px;
height: 17px;
left: 0;
margin-left: -20px;
border: 1px solid #cccccc;
border-radius: 3px;
background-color: #fff;
-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
display: inline-block;
position: absolute;
width: 16px;
height: 16px;
left: 0;
top: 0;
margin-left: -20px;
padding-left: 3px;
padding-top: 1px;
font-size: 11px;
color: #555555; }
.checkbox input[type="checkbox"] {
opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
outline: thin dotted;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
font-family: 'FontAwesome';
content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
background-color: #eeeeee;
cursor: not-allowed; }
.checkbox.checkbox-circle label::before { 
border-radius: 50%; }
.checkbox.checkbox-inline {
margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
background-color: #428bca;
border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
background-color: #d9534f;
border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
background-color: #5bc0de;
border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
background-color: #f0ad4e;
border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
background-color: #5cb85c;
border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
color: #fff; }

.radio {
padding-left: 20px; }
.radio label {
display: inline-block;
position: relative;
padding-left: 5px; }
.radio label::before {
content: "";
display: inline-block;
position: absolute;
width: 17px;
height: 17px;
left: 0;
margin-left: -20px;
border: 1px solid #cccccc;
border-radius: 50%;
background-color: #fff;
-webkit-transition: border 0.15s ease-in-out;
-o-transition: border 0.15s ease-in-out;
transition: border 0.15s ease-in-out; }
.radio label::after {
display: inline-block;
position: absolute;
content: " ";
width: 11px;
height: 11px;
left: 3px;
top: 3px;
margin-left: -20px;
border-radius: 50%;
background-color: #555555;
-webkit-transform: scale(0, 0);
-ms-transform: scale(0, 0);
-o-transform: scale(0, 0);
transform: scale(0, 0);
-webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
-moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
-o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
opacity: 0; }
.radio input[type="radio"]:focus + label::before {
outline: thin dotted;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
cursor: not-allowed; }
.radio.radio-inline {
margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
background-color: #428bca; }

.radio-danger input[type="radio"] + label::after {
background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
background-color: #5cb85c; }

.ui-tooltip, .arrow:after {
background: black;
border: 2px solid white;
}
.ui-tooltip {
padding: 10px 20px;
color: white;
border-radius: 20px;
font: bold 14px "Helvetica Neue", Sans-Serif;
text-transform: uppercase;
box-shadow: 0 0 7px black;
}
.arrow {
width: 70px;
height: 16px;
overflow: hidden;
position: absolute;
left: 50%;
margin-left: -35px;
bottom: -16px;
}
.arrow.top {
top: -16px;
bottom: auto;
}
.arrow.left {
left: 20%;
}
.arrow:after {
content: "";
position: absolute;
left: 20px;
top: -20px;
width: 25px;
height: 25px;
box-shadow: 6px 5px 9px -9px black;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
.arrow.top:after {
bottom: -20px;
top: auto;
}

.btn-select {
        position: relative;
        padding: 0;
        /* min-width: 236px; */
        width: 100%;
        border-radius: 0;
        /* margin-bottom: 20px; */
    }

    .btn-select .btn-select-value {
        padding: 6px 12px;
        display: block;
        position: absolute;
        left: 0;
        right: 34px;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        border-top: none !important;
        border-bottom: none !important;
        border-left: none !important;
    }

    .btn-select .btn-select-arrow {
        float: right;
        line-height: 20px;
        padding: 6px 10px;
        top: 0;
    }

    .btn-select ul {
        display: none;
        background-color: white;
        color: black;
        clear: both;
        list-style: none;
        padding: 0;
        margin: 0;
        border-top: none !important;
        position: absolute;
        left: -1px;
        right: -1px;
        top: 33px;
        z-index: 999;
    }

    .btn-select ul li {
        padding: 3px 6px;
        text-align: left;
    }

    .btn-select ul li:hover {
        background-color: #f4f4f4;
    }

    .btn-select ul li.selected {
        color: white;
    }

    /* Default Start */
    .btn-select.btn-default:hover, .btn-select.btn-default:active, .btn-select.btn-default.active {
        border-color: #ccc;
    }

    .btn-select.btn-default ul li.selected {
        background-color: #ccc;
    }

    .btn-select.btn-default ul, .btn-select.btn-default .btn-select-value {
        background-color: white;
        border: #ccc 1px solid;
    }

    .btn-select.btn-default:hover, .btn-select.btn-default.active {
        background-color: #e6e6e6;
    }
    /* Default End */

    /* Primary Start */
    .btn-select.btn-primary:hover, .btn-select.btn-primary:active, .btn-select.btn-primary.active {
        border-color: #286090;
    }

    .btn-select.btn-primary ul li.selected {
        background-color: #2e6da4;
        color: white;
    }

    .btn-select.btn-primary ul {
        border: #2e6da4 1px solid;
    }

    .btn-select.btn-primary .btn-select-value {
        background-color: #428bca;
        border: #2e6da4 1px solid;
    }

    .btn-select.btn-primary:hover, .btn-select.btn-primary.active {
        background-color: #286090;
    }
    /* Primary End */

    /* Success Start */
    .btn-select.btn-success:hover, .btn-select.btn-success:active, .btn-select.btn-success.active {
        border-color: #4cae4c;
    }

    .btn-select.btn-success ul li.selected {
        background-color: #4cae4c;
        color: white;
    }

    .btn-select.btn-success ul {
        border: #4cae4c 1px solid;
    }

    .btn-select.btn-success .btn-select-value {
        background-color: #5cb85c;
        border: #4cae4c 1px solid;
    }

    .btn-select.btn-success:hover, .btn-select.btn-success.active {
        background-color: #449d44;
    }
    /* Success End */

    /* info Start */
    .btn-select.btn-info:hover, .btn-select.btn-info:active, .btn-select.btn-info.active {
        border-color: #46b8da;
    }

    .btn-select.btn-info ul li.selected {
        background-color: #46b8da;
        color: white;
    }

    .btn-select.btn-info ul {
        border: #46b8da 1px solid;
    }

    .btn-select.btn-info .btn-select-value {
        background-color: #5bc0de;
        border: #46b8da 1px solid;
    }

    .btn-select.btn-info:hover, .btn-select.btn-info.active {
        background-color: #269abc;
    }
    /* info End */

    /* warning Start */
    .btn-select.btn-warning:hover, .btn-select.btn-warning:active, .btn-select.btn-warning.active {
        border-color: #eea236;
    }

    .btn-select.btn-warning ul li.selected {
        background-color: #eea236;
        color: white;
    }

    .btn-select.btn-warning ul {
        border: #eea236 1px solid;
    }

    .btn-select.btn-warning .btn-select-value {
        background-color: #f0ad4e;
        border: #eea236 1px solid;
    }

    .btn-select.btn-warning:hover, .btn-select.btn-warning.active {
        background-color: #d58512;
    }
    /* warning End */

    /* danger Start */
    .btn-select.btn-danger:hover, .btn-select.btn-danger:active, .btn-select.btn-danger.active {
        border-color: #d43f3a;
    }

    .btn-select.btn-danger ul li.selected {
        background-color: #d43f3a;
        color: white;
    }

    .btn-select.btn-danger ul {
        border: #d43f3a 1px solid;
    }

    .btn-select.btn-danger .btn-select-value {
        background-color: #d9534f;
        border: #d43f3a 1px solid;
    }

    .btn-select.btn-danger:hover, .btn-select.btn-danger.active {
        background-color: #c9302c;
    }
    /* danger End */

    .btn-select.btn-select-light .btn-select-value {
        background-color: white;
        color: black;
    }
    .btn_bold {
        color: #3baf29;
        font-weight: bold;
        text-decoration: underline;
    }
    a.paginate_button {
        cursor: pointer !important;
    }
