/* margin, padding css */

.mb10 {
	margin-bottom: 10px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb30 {
	margin-bottom: 30px;
}

.mt20 {
	margin-top: 20px;
}
.mt30 {
	margin-top: 30px;
}
.pl_20 {
	padding-left: 20px;
}

/* header style */
.search-box .serach-input {
	border: 2px solid #8f8a8a;
	border-radius: 0;
	padding: 7px 12px;
	background-color: transparent;
	width: 100%;
	max-width: 100%;

}
.searchButton {
	position: absolute;
	right: 15px;
	top: 5px;
	background: transparent;
	border: 0;

}
.fa.fa-search {
	font-size: 20px;
}
.navbar-nav a {
	text-transform: uppercase;
	font-size: 12px;
}

.navbar-nav a.active {
	color: #fff !important;
}

/* Sidebar */
.left_menu_panel{
	border: 0px;
	box-shadow: none;
}
.left_menu_panel .panel-heading {
	background: #fff;
	border: 0px;
}
.left_menu {
	border: 1px solid #666;
	padding: 20px 10px;
	margin-bottom: 20px;
}

.left_menu .active a{
	color: #000;
	font-weight: bold;
}

.sidebar-title {
	text-align: center;
	border: 1px solid #666;
	color: #666;
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
}

.list-group li {
	list-style: none;
	padding-left: 25px;
	line-height: 2em;
}
.list-group .fa {
	padding-right: 7px;
}
.list-group a {
	color: #666;
	text-decoration: none;
}
.left_ad {
	overflow: hidden;
}

.left_menu .ui-widget-content {
	background: #000;
}

.left_menu .ui-slider-horizontal {
	height: .5em;
}

.ui-slider .ui-slider-handle {
	width: 1em;
	height: 1em;
}
/* Product listing */

.product-caption {
	text-align: center;
	background: rgb(229,225,222);
	padding: 15px 10px;
	margin-bottom: 30px;
}
.product-caption a {
	color: #000;
}

.product-image {
	min-height: 220px;
}
.product-image img {
	width: 100%;
	height: 220px;
}
.footer_banner {
	margin: 50px 0px 70px 0px;
}

.btn-black {
	background: #000;
	color: #ccc;
	font-size: 11px;
	padding: 3px 10px;
	border: 0px;   
	float: right;
	text-align: right;
}

.p-filter {
	font-size: 12px;
	color: #333;
	margin-top: 15px;
	margin-bottom: 15px;
}
.p-select {
	font-size: 11px;
	padding: 3px 5px;
	color: #333;
}
.product_pagination .pagination {
	margin: 0px !important;
	float: right;
}

.product_pagination .pagination .active span {
	background-color: #000;
	border-color: #000;
}

.product_pagination .pagination li span, .pagination li a {
	padding: 2px 10px;
}

/* Product detail */

.product_gallery h4 {
	font-family: 'Slabo 27px', serif;
    font-size: 28px;
}

.related_product {
	margin-top: 60px;
}

.related_product .owl-next {
	margin-left: 1050px !important;
}

.owl-theme .owl-nav {
	position: absolute;
    top: -55px;
}

.owl-prev.disabled.fa.fa-long-arrow-left {
    left: 0;
}
.owl-next.fa.fa-long-arrow-right {
    right: 0;
}

.tab_wrap {
	margin: 50px auto;
	border: 1px solid #999;
}

.tab_wrap #responsiveTabsDemo {	
	/*padding: 10px;*/
}

.r-tabs .r-tabs-panel {
	padding: 50px 30px;
}

.r-tabs .r-tabs-tab {
	display: inline-block;
	margin: 0;
	list-style: none;
	background: #e2e2e0;
	padding: 15px 30px;
	width: 33%;
}
.r-tabs-state-active {
	background: #fff !important;
}
.r-tabs-tab a {
	color: #000;
	font-size: 24px;
	text-decoration: none;
	font-family: 'Slabo 27px', serif;
}

.owl-carousel .owl-nav.disabled {
	display: block!important;
	position: absolute;
	top: -50px;
	right: 0;

}
.owl-theme .owl-nav [class*="owl-"] {
	color: #000!important;
	font-size: 20px;
	background: #fff;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
	background: transparent;
	color: #000;
	text-decoration: none;
}
.owl-dots {
	display: none;
}
.owl-carousel .item {
	margin: 15px;
}
.owl-carousel .item img{
	display: block;
	width: 100%;
	height: 220px;
	object-fit: cover;
	transform: scale(1);
}

.btn-number{
	background: #fff !important;
	color: #000 !important;
	border-radius: 0px !important;
	border: 1px solid #000 !important;
	padding: 3px 5px;
}

 #quantity {
	border: 1px solid #000 !important;
	border-radius: 0px !important;
	height: 28px !important;
	max-width: 100px;
	padding: 0px 10px;
}

.btn-wrap {
	margin-top: 70px;
	margin-bottom: 50px;
}
.btn-wrap .btn-black {
	padding: 12px 30px;
	float: left;
	margin-right: 15px;
	font-size: 14px;
	color: #fff;
}

.share-wrap .fa {	
	font-size: 20px;
	color: #fff;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	text-align: center;
	padding: 7px;
}

.share-wrap .fa-twitter {
	background: rgb(9,178,79);
}

.share-wrap .fa-facebook {
	background: rgb(1,71,140);	
}

.related_product h3 {
	border-bottom: 1px solid #ccc;
    text-align: center;
    padding-bottom: 20px;
    text-transform: uppercase;    
    font-family: 'Slabo 27px', serif;
    font-size: 50px;
    font-weight: bold;
}
	

/* Footer */
.footer_wrap {
	background: rgb(229,225,222);
	padding: 20px 0px 0px 0px;
}
/* --------------------------------------------------------------*/
/* about us page  */

.blog-headerimg{
	width: 100%;
}

.about-blog{
	font-family: Sans-serif;
}

/* --------------- */
/* contact us  */
.contact-text{
	text-align: center;
    font-size: 30px;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 20px;

}
.contact-question{
	
    font-size: 20px;
    font-style: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}
.locat{
	float: left;

}
.blog{
	margin-top: 20px;
}

.sent-but{
	width: 100%;
    margin-top: 10px;
    background: black;
    border: none;
    color: white;
    padding: 6px;
}
.time{
	float: left;
}
.open-time{
	font-weight: bold;
}

/* ------------- */

/* promotion */

.promotion_img{
	width: 100%;
}
.blog-pro{
  border: 1px solid #efe3e3 ;
  margin-top: 10px;
}
.ph-logo{
	margin-top: 10px;
}
.pro-address{
	margin-top: 10px;
}

.title-price{
	color: black;
    text-shadow: 2px 2px 4px #000000;
}
.amount{
	color: red;
    text-shadow: 2px 2px 4px gray;
    font-size: 60px;
    font-style: italic;
}
.adv-blog{
margin-top: 20px;
}
.time-op{
	float: left;
}


.promotion-info{
	margin-top: 10px;
	margin-bottom: 10px;

}
.promotion-info1{
	
	margin-bottom: 10px;

}
.promotion-adv{
	
	margin: 10px 80px 0 80px;
}
.promotion-adv1{
	margin: 10px 80px 0 80px;

}
.adv-img{
	width:100%;
	height: auto;
}